<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my form</title>
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"  value="Submit">Submit</button>
    </form>
    <table border="1">
       
        <tr>
            <th>name</th>
            <th>age</th>
            <th>gender</th>

        </tr>
        {% for mus in data %}
        <tr>         
            <td style="width: 200px; height: 100px;" >{{ mus.name }}</td>
            <td  style="width: 200px; height: 100px;"  >{{ mus.age }}</td>
            <td  style="width: 200px; height: 100px;"  >{{ mus.gender }}</td>

            <td><a href="{% url 'update' id=mus.id %}" method="post">Update</a></td>
            <td><a href="{% url 'delete' id=mus.id %}" method="get" >Delete</a></td>
        </tr>
        
    
    {% endfor %}
</table>
</body>
</html>