<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my form</title>
</head>
<body>
    <form action="{% url 'crud' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  value="Submit">Submit</button>
    </form>
    <table border="1">
       
        <tr>
            <th>name</th>
            <th>eid</th>
            <th>eage</th>

        </tr>
        {% for data in data %}
        <tr>         
            <td style="width: 200px; height: 100px;" >{{ data.name }}</td>
            <td  style="width: 200px; height: 100px;"  >{{ data.eid }}</td>
            <td  style="width: 200px; height: 100px;"  >{{ data.eage }}</td>
            <td><a href="{% url 'del' id=data.id %}">Delete</a></td>
             <td><a href="{% url 'up' id=data.id %}">Update</a></td>

        </tr>
        
    
    {% endfor %}
</table>
</body>
</html>